{% extends 'profil/profil.html.twig' %}
{% block body %}
    {% block stylsheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/styleGestionCompte.css') }}">
    {% endblock %}

    {% block header %}
        {{ parent() }}
    {% endblock header%}
    {% block main %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    {##}
                    {% block menu %}
                        <div class="container-fluid">
                            <div class ='row'>
                                <nav class="col-sm hidden-xs-down bg-faded sidebar">
                                    <div id="navLateral">
                                        <ul class="nav nav-pills flex-column">
                                            <li class="nav-item" >
                                                <a class="nav-link" href="{{ path('gsb_profil_homepage') }}">Menu<i class="fab fa-elementor"></i></a>
                                            </li>
                                        </ul>
                                        <hr>

                                        <ul class="nav nav-pills flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('gsb_profil_saisie_frais') }}">Saisie des frais<i class="far fa-edit"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('gsb_profil_afficher_mois') }}">Fiche du mois <i class="fas fa-book"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('gsb_profil_historique') }}">Historique<i class="fas fa-history"></i></a>
                                            </li>
                                        </ul>

                                        <hr>

                                        <ul class="nav nav-pills flex-column">

                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('gsb_frais_edit_mdp') }}">Changer de mot de passe <i class="fas fa-key"></i></a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('gsb_frais_accueil_deco') }}">Se déconnecter <i class="fas fa-power-off"></i></a>

                                            </li>
                                        </ul>

                                    </div>
                                </nav>
                            </div>
                        </div>
                    {% endblock menu %}
                </div>



                <div class="col-sm-9">
                    {% block contenu %}
                        <div class="container1">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container2">
                                    <div class="container">
                                        <h1>Gestionnaire de compte</h1><br>
                                        <div class="container-fluid">
                                            {{ form_start(form) }}
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_row(form.nom) }}
                                                        </div>
                                                        <div class="col">
                                                            {{ form_row(form.prenom) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    {{ form_row(form.adresse) }}
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_row(form.cp) }}
                                                        </div>
                                                        <div class="col">
                                                            {{ form_row(form.ville) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>
                                                <div id="divSave">
                                                    <div class="row">
                                                        <div class="col btn">
                                                            {{ form_row(form.save) }}
                                                        </div>
                                                        <div class="col btn">
                                                            {{ form_row(form.cancel) }}
                                                        </div>
                                                        <div class="col btn">
                                                            <a class="btn btn-outline-success" href="{{ path('gsb_frais_edit_mdp') }}"> Mot de passe </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock contenu %}
                </div>




            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock javascripts %}

{% endblock %}