<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->


        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-reboot.css') }}">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('assets/css/styleBase.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('iconGsb.png') }}" />

    <title>{% block title %} GsbFrais {% endblock %}</title>
</head>
<body>
{% block body %}
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('gsb_frais_accueil') }}">GsbFrais</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('gsb_frais_accueil') }}">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>-->
            </ul>

            <div class="my-0 my-lg-0">
                {% block headerRight %}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('gsb_frais_connexion') }}"> Connexion </a>
                {% endblock %}
            </div>

             </div>
    </nav>
    {% endblock header %}

    {% block main %}
    {% endblock main %}

        {% block footer %}
        <footer class="footer">
            <div class="container-fluid">
                <span class="text-muted"> Site Gsb footer </span>
            </div>
        </footer>
        {% endblock footer %}

{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="" ></script>-->


    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}" ></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}" ></script>

{% endblock javascripts %}

{% endblock body %}


</body>
</html>